/* bootstrap fixes */

.nav-stacked {
  width: 100%;
}

.navbar-nav > li {
  float: none;
}

img.img-responsive {
  max-width: 100%;
}
/* end bootstrap fixes */

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  overflow: auto;
  transition: 1s;
  will-change: left;
}

#map {
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  transition: 1s;
  will-change: left;
}

#info-window-template {
  display: none;
}

.input-group {
  margin-top: 10px;
}

#viewport-small {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  z-index: 100;
}

/* Phones */
@media (max-width: 768px) {
  .input-group {
    max-width: 70vw;
  }

  .sidebar {
    left: -80vw;
    width: 80vw;
  }

  #map {
    left: 0;
  }

  .sidebar.visibleSm {
    left: 0;  
  }

  #map.visibleSm {
    left: 80vw;
  }
}

/* Other */
@media (min-width: 769px) and (max-width: 992px) {
  .sidebar {
    width: 50vw;
    left: -50vw;
  }

  #map {
    left: 0;

  }

  .sidebar.visibleSm {
    left: 0;  
  }

  #map.visibleSm {
    left: 50vw;
  }
}

/* Other */
@media (min-width: 993px) {
  .sidebar {
    width: 350px;
  }

  #map {
    left: 350px;

  }

  .navbar-btn {
    display: none;
  }
}